In [1]:
import os

In [2]:
import os.path

In [3]:
import time
import csv
import numpy
from datetime import datetime
import pandas as pd
import numpy as np

In [4]:
# Change to top level of extracted data archive
os.chdir("C:/Users/Wreedles/Desktop/Tableau_Homework/Citibike_Data")

In [5]:
new = os.getcwd().replace("\\","/")

In [6]:
filepaths = []
for dirpath, dirnames, filenames in os.walk(new):
    for filename in [f for f in filenames if f.endswith(".csv")]:
        filepaths.append("." + os.path.join(dirpath, filename)[len(new):].replace("\\","/"))

In [7]:
rowcounter = 0
station = {}
name = {}
lat = {}
lng = {}

for filename in filepaths:
    with open(filename, newline="") as csvfile:
        csvreader = csv.reader(csvfile, delimiter=",")

        next(csvreader)                 # skips header row
        
        # Iterates through each row in csv
        for row in csvreader:
            
            rowcounter += 1

            # if candidate not in dict, adds key and initializes value
            if row[3] not in station:
                station[row[3]] = 0

            station[row[3]] += 1     # increments dictionary value
            
            if row[3] not in name:
                name[row[3]] = row[4]
                
            if row[3] not in lat:
                if row[5] != '0.0':
                    lat[row[3]] = float(row[5])
                
            if row[3] not in lng:
                if row[6] != '0.0':
                    lng[row[3]] = float(row[6])

In [8]:
df = pd.DataFrame([station, name, lat, lng]).T
df.columns = ['rides', 'start_station_name', 'start_station_lat', 'start_station_lng']

In [9]:
df

,rides,start_station_name,start_station_lat,start_station_lng
116,209118,W 17 St & 8 Ave,40.7418,-74.0015
119,10699,Park Ave & St Edwards St,40.6961,-73.978
120,28148,Lexington Ave & Classon Ave,40.6868,-73.9593
127,247021,Barrow St & Hudson St,40.7317,-74.0067
128,235939,MacDougal St & Prince St,40.7271,-74.003
137,68232,E 56 St & Madison Ave,40.7616,-73.9729
143,60871,Clinton St & Joralemon St,40.6924,-73.9934
144,25375,Nassau St & Navy St,40.6984,-73.9807
146,107102,Hudson St & Reade St,40.7163,-74.0091
147,157685,Greenwich St & Warren St,40.7154,-74.0112
150,101461,E 2 St & Avenue C,40.7209,-73.9809
151,324322,Cleveland Pl & Spring St,40.7218,-73.9972
152,97518,Warren St & Church St,40.7147,-74.0091
153,159855,E 40 St & 5 Ave,40.7521,-73.9816
157,65012,Henry St & Atlantic Ave,40.6909,-73.9961
160,55096,E 37 St & Lexington Ave,40.7482,-73.9783
161,216694,LaGuardia Pl & W 3 St,40.7292,-73.9981
164,115000,E 47 St & 2 Ave,40.7532,-73.9703
167,179258,E 39 St & 3 Ave,40.7489,-73.976
168,281677,W 18 St & 6 Ave,40.7397,-73.9946
173,204606,Broadway & W 49 St,40.7606,-73.9844
174,146236,E 25 St & 1 Ave,40.7382,-73.9774
195,151611,Liberty St & Broadway,40.7091,-74.0104
2000,90534,Front St & Washington St,40.7026,-73.9894
2001,12195,7 Ave & Farragut St,40.6989,-73.9733
2002,104151,Wythe Ave & Metropolitan Ave,40.7169,-73.9632
2003,156341,1 Ave & E 18 St,40.7342,-73.9802
2004,88398,6 Ave & Broome St,40.7244,-74.0047
2005,4365,Railroad Ave & Kay Ave,40.7053,-73.971
2006,267495,Central Park S & 6 Ave,40.7659,-73.9763
...,...,...,...,...
516,66619,E 47 St & 1 Ave,40.7521,-73.9678
517,214104,Pershing Square S,40.7515,-73.978
518,226103,E 39 St & 2 Ave,40.7478,-73.9734
519,570378,Pershing Square N,40.7519,-73.9777
520,168120,W 52 St & 5 Ave,40.7599,-73.9765
521,261759,8 Ave & W 31 St,40.7504,-73.9948
522,113305,E 51 St & Lexington Ave,40.7571,-73.9721
523,285511,W 38 St & 8 Ave,40.7547,-73.9914
524,137590,W 43 St & 6 Ave,40.7553,-73.9832
525,117675,W 34 St & 11 Ave,40.7559,-74.0021
526,173712,E 33 St & 5 Ave,40.7477,-73.9849
527,201386,E 33 St & 1 Ave,40.7432,-73.9743
528,196302,2 Ave & E 31 St,40.7429,-73.9771
529,197478,W 42 St & 8 Ave,40.7576,-73.991
530,139991,11 Ave & W 59 St,40.7715,-73.9905
531,178001,Forsyth St & Broome St,40.7189,-73.9927
532,125432,S 5 Pl & S 4 St,40.7105,-73.9609
533,125483,Broadway & W 39 St,40.753,-73.9872
534,70463,Water - Whitehall Plaza,40.7026,-74.0127
536,183800,1 Ave & E 30 St,40.7414,-73.9754
537,241000,Lexington Ave & E 24 St,40.7403,-73.9841
538,34408,W 49 St & 5 Ave,40.758,-73.9779
539,109417,Metropolitan Ave & Bedford Ave,40.7153,-73.9602
540,180127,Lexington Ave & E 26 St,40.7415,-73.9832
545,187124,E 23 St & 1 Ave,40.7365,-73.9781
546,183553,E 30 St & Park Ave S,40.7444,-73.983
72,140967,W 52 St & 11 Ave,40.7673,-73.9939
79,110786,Franklin St & W Broadway,40.7191,-74.0067
82,46984,St James Pl & Pearl St,40.7112,-74.0002
83,58386,Atlantic Ave & Fort Greene Pl,40.6838,-73.9763

In [10]:
df.index.name = 'start_station_id'

In [11]:
# Will export to top level of extracted data archive
df.to_csv("startstations.csv")

In [12]:
rowcounter

53985360

In [13]:
rowcounter = 0
station = {}
name = {}
lat = {}
lng = {}

for filename in filepaths:
    with open(filename, newline="") as csvfile:
        csvreader = csv.reader(csvfile, delimiter=",")

        next(csvreader)                 # skips header row
        
        # Iterates through each row in csv
        for row in csvreader:
            
            rowcounter += 1

            # if candidate not in dict, adds key and initializes value
            if row[7] not in station:
                station[row[7]] = 0

            station[row[7]] += 1     # increments dictionary value
            
            if row[7] not in name:
                name[row[7]] = row[8]
                
            if row[7] not in lat:
                if row[9] != '0.0':
                    lat[row[7]] = float(row[9])
                
            if row[7] not in lng:
                if row[10] != '0.0':
                    lng[row[7]] = float(row[10])

In [14]:
df_end = pd.DataFrame([station, name, lat, lng]).T
df_end.columns = ['rides', 'end_station_name', 'end_station_lat', 'end_station_lng']

In [15]:
df_end.index.name = 'end_station_id'

In [16]:
# Will export to top level of extracted data archive
df_end.to_csv("endstations.csv")

In [17]:
bikes = {}
tripduration = {}
used = {}

for filename in filepaths:
    with open(filename, newline="") as csvfile:
        csvreader = csv.reader(csvfile, delimiter=",")

        next(csvreader)                 # skips header row
        
        # Iterates through each row in csv
        for row in csvreader:
           
            if row[11] not in bikes:
                bikes[row[11]] = 0

            bikes[row[11]] += 1     # increments dictionary value
            
            if row[11] not in tripduration:
                tripduration[row[11]] = 0.0
            
            tripduration[row[11]] += float(row[0])
            
            if row[11] not in used:
                used[row[11]] = 0.0
            
            used[row[11]] += ((float(row[0]) / 3600) * 11.5)

In [18]:
df_miles = pd.DataFrame([bikes, tripduration, used]).T
df_miles.columns = ['times_used', 'duration', 'miles']

In [19]:
df_miles.index.name = 'bike_id'

In [20]:
# Will export to top level of extracted data archive
df_miles.to_csv("bikes_used.csv")